@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

html {
     scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: #0C0C0C;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-item:hover{
    transition: .8s;
    color: grey;

}
.cabecalho-item-titulo {
    color: #F9F9F9;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
}

.cabecalho-menu {
    display: flex;
    gap: 24px;
    
}

.cabecalho-item {
    color: #F9F9F9;
    text-decoration: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.conteudo {
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 200px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #F9F9F9;
}

.conteudo-principal-escrito-subtitulo{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    color: #828282;
}




.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #F9F9F9;
}

.conteudo-secundario-escrito {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #828282;
    padding-bottom: 32px;
}

.rodape {
    display: flex;
    justify-content: space-evenly;
    padding: 34px;
    margin-top: 100px;
}

.rodape-meu-nome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #F9F9F9;
   
}

.rodape-subtitulo-meu-nome {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #828282;
}

.rodape-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #F9F9F9;
}

.rodape-subtitulo-email {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #828282;
}

.rodape-instagram{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #F9F9F9;
}

.rodape-subtitulo-instagram{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #828282;
}

.rodape-telefone{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #F9F9F9;
}

.rodape-subtitulo-telefone{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #828282;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 30px;
    padding-bottom: 120px;
    justify-content: space-evenly;
    background-color: #212121;
    opacity: 90%;
    border-style: groove;
    border-color: #333333;
}

.titulo-skills {
    margin-top: 100px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #F9F9F9;
}

.skills-imgs{
    padding-top: 100px;
    padding-bottom: 70px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 300px;
    
}

.skills-nomes {
    text-align: center;
    padding-top: 10px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 42px;
    color: #F9F9F9;
    
    
}

[data-anime] {
    opacity: 0;
    transition: 2s;
}

[data-anime="bottom"] {
    translate: translate3d(0px, -50px, 0px );
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px,0px,0px)
}

.subtitulo-skills {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #F9F9F9;
    padding-bottom: 32px;
}

.conteudo-principal-botao {
    font-family: Dm Sans;
    font-weight: bold;
    font-size: 14px;
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    background-color: #5fe36a;
    border: 1px solid #5fe36a;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 28px;
    cursor: pointer;
    padding: 6px 10px;
    text-decoration: none;
    }

.conteudo-principal-botao:hover {
    transition: .6s ease-in-out;
    background: #29612d ;
}

.popup-wrapper {
    
    display: none;
    background: rgb( 0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.popup {
    opacity: 1;
    font-family: DM Sans;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    
    background: radial-gradient(circle, #5fe36a 0%, rgba(2,2,2,1) 130%);
    position: relative;
    border-radius: 10px;
    box-shadow: #F9F9F9;

}

@keyframes modal{
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}


.popup-content {
    font-family: DM Sans;
    color: #020202;
    margin: 10% auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.popup-close {
    color: #020202;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}