@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

html {
     scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: #0C0C0C;
}

[data-anime] {
    opacity: 0;
    transition: 2s;
}

[data-anime="bottom"] {
    translate: translate3d(0px, -50px, 0px );
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px,0px,0px)
}